@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  --background: #fafafa;
  --bg-secondary: #fff;
  --box-shadow-primary: rgba(0, 0, 0, 0.0532439);
  --box-shadow-border: rgba(0, 0, 0, 0.104931);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 90%;
  margin: 2rem auto;
}

.collection {
  max-width: 90%;
}

.register-here,
.login-here {
  font-size: 14px;
}

.login-here {
  margin-top: 2rem;
}

h1 {
  line-height: 1.2rem;
  margin-bottom: 2rem;
}

.alert-heading {
  font-size: 1.2rem;
}

.toolbar {
  display: flex;
  justify-content: right;
  margin-right: 8rem;
}

.Signup,
.Login,
.add-collection {
  margin: 5rem auto;
  max-width: 35rem;
  padding: 4rem;
  border: 3px solid var(--box-shadow-border);
  border-radius: 1rem;
}
.select-collection {
  margin-bottom: 1rem;
}
.name {
  margin-bottom: 1.1rem;
}
.sign-header {
  margin-bottom: 1.5rem;
}

.table {
  margin: 3rem auto;
  max-width: 85%;
}

.id {
  max-width: 3rem;
  display: flex;
  gap: 0.5rem;
}

.select {
  line-height: 0;
  display: inline-block;
}

.admin,
.title {
  margin: 2rem auto;
  text-align: center;
}

.collection {
  margin: 2rem auto;
}

.check-all {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-danger {
  margin-left: 1rem;
}

img {
  max-width: 100%;
  height: 15rem;
  margin-bottom: 0.5rem;
}

.check-view {
  display: flex;
  justify-content: space-evenly;
}
.btn-dark-collection {
  margin-left: 2rem;
}
.toolbar {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  margin: 0;
}
.collection-header,
.item-header {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}
.signout {
  margin-right: 1rem;
}
.card {
  margin: 1rem 1rem;
}
.card-body {
  max-height: 50%;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.btn {
  margin: 0 0.5rem;
}

.details {
  display: flex;
  justify-content: space-around;
  max-width: 65%;
  margin: 3rem auto;
  align-items: center;
  background-color: var(--bg-secondary);
  box-shadow: 0px 0px 7px 2px var(--box-shadow-primary);
  border-radius: 5px;
  padding: 1rem;
}
.edit {
  margin-top: 3rem;
}
.image {
  max-width: 40%;
}
.items-heading {
  text-align: center;
}
ul {
  padding-left: 0;
  list-style: none;
}
.search-header {
  margin-top: 2rem;
}
